# Node.js
node_modules/
.env
.env.*
dist/
build/
coverage/

# VSCode
.vscode/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
Thumbs.db

# Compiled
*.tsbuildinfo

# Output
*.log

# React
*.cache

# Excel/Temp
*.xlsx
*.xls
~$*

# Misc
.idea/
*.swp
